* {
    box-sizing: content-box;
}


html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#characters {
    max-width: 960px;
    display: grid;
    margin: 0 auto 30px;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

#characters article {
    display: inline-block;
    position: relative;
}

.character-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.character-img + .article-title {
    position: absolute;
    bottom: 4px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    background-color: rgba(247, 240, 240, 0.7);
}

body {
    font-family: 'Quicksand', sans-serif;
}

h1 {
    margin: 0;
    padding: 0;
}


main {
    width: 100%;
}

#hero {
    background-image: url("./images/hero-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 15.1rem;
    align-items: center;
    justify-content: center;
    padding: 1.9rem;
    color: white;
    text-shadow: 0px 0px 5px #000;
    line-height: 5rem;
    margin-bottom: 1.85rem;
}

#hero h1 {
    font-size: 24vw;
    padding-right: 60px;
    font-weight: bold;
}

#hero p {
    color: rgb(255, 255, 253);
    max-width: 900px;
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 600;
}

@media (min-width: 43rem) {
    #hero {
        display: flex;
    }

    #hero h1 {
        font-size: 8.75rem;
    }
}

#main-header {
    display: flex;
    height: 3rem;
    background-color: rgba(240, 240, 24, 0.75);
    align-items: center;
    padding: 0.6rem;
}

#main-header__title {
    margin-left: 2rem;
    font: 2rem sans-serif;
}

#main-header__brand {
    height: 100%;
}

